<html>  
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  	<link rel="stylesheet" href="{{ asset('style/css/style1.css') }}"/>
  	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  

    <header>
    <h2 class="logo">
    Logo incoming
    </h2>
  	<nav>
  		<ul>
  			<li><a href="#">Domaine de Barbeau</a></li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{path('oc_cours_homepage')}}">Cours</a></li>
                        <li><a href="{{path('oc_annonce_afficher')}}">Annonce</a></li>
                        <li><a href="{{path('oc_cheval_afficher')}}">Cheval</a></li>
                        <li><a href="{{path('fos_user_profile_show')}}">Cavalier</a></li>
                        <li><a href="{{path('oc_evenement_afficher')}}">Evènement</a> </li>
                        {% else %}
                        <li><a href="{{path('fos_user_registration_register')}}">Inscription</a></li>
                        {% endif %}
  			
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
{% else %}
    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
{% endif %}
               
  		</ul>
  	</nav>
  </header>
<br><br><br>
    <div>
            {% block body %}
            {% endblock body %}
    </div>

</html>